
<%- include('includs/Head.ejs'); %> 
<body>
    
    <section class="d-flex justify-content-center align-items-center">
        <form class="fw-bold col-lg-4 col-md-6 col-sm-10 col-11 d-flex flex-column justify-content-center align-items-center gap-3 py-5">
            <div class="h2 fw-bold logo">
                <span id="logo1" type="button">M</span>
                <span id="logo2" type="button">A</span>
                <span id="logo3" type="button">R</span>
                <span id="logo4" type="button">H</span>
                <span id="logo5" type="button">A</span>
                <span id="logo6" type="button">B</span>
                <span id="logo7" type="button">A</span>
            </div>
            <div class="text-muted h5">Forget password ?</div>
            <div class="form-floating text-muted col-10">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="col-10 d-flex justify-content-between align-items-center mt-3">
                <a class="text-dark" href="login">Login</a>
                <a class="text-dark" href="register">Register</a>
            </div>
            <div class="w-50 form-group d-flex justify-content-center position-relative">
                <button type="submit" class="btn rounded p-3 px-5 fw-bold position-absolute">Send</button>
            </div>
        </form>
    </section>
    
</body>
<%- include('includs/footer.ejs'); %>