
<%- include('includs/Head.ejs'); %>
<body>

    <div class="w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <h3>Hy <span class="fw-bold">Username</span><p>
            <p>Your role is <span class="fw-bold">///</span><p>
            <a href="resetpassword" style="height: 50px; color: black; padding: 10px 20px; border-radius: 8px; margin-bottom: 10px; margin-top: 10px;">
                Reset Password
            </a> 
        </div>
    </div>
    
</body>
<%- include('includs/footer.ejs'); %>