
<%- include('includs/Head.ejs'); %>
<body>

    <div class="w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <h3>Hy <span class="fw-bold">Username</span><p>
            <p>Your role is <span class="fw-bold">///</span><p>
        </div>
    </div>
    
</body>
<%- include('includs/footer.ejs'); %>