
<%- include('includs/Head.ejs'); %> 
<body>
    
    <section class="d-flex justify-content-center align-items-center">
        <form action="/api/auth/resetpassword" method="post" class="fw-bold col-lg-4 col-md-6 col-sm-10 col-11 d-flex flex-column justify-content-center align-items-center gap-3 py-5">
            <div class="h2 fw-bold logo">Reset Password</div>
            <div class="text-muted h5">Have an account ?</div>
            <div class="form-floating text-muted col-10">
                <input type="password" name="password" class="form-control" id="floatingInput" placeholder="Password">
                <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating text-muted col-10">
                <input type="password" name="confirmepassword" class="form-control" id="floatingPassword" placeholder="Confirme Password">
                <label for="floatingPassword">Confirme Password</label>
            </div>
            <div class="w-50 form-group d-flex justify-content-center position-relative">
                <button type="submit" class="btn rounded p-3 px-5 fw-bold position-absolute">Change</button>
            </div>
        </form>
    </section>
    
</body>
<%- include('includs/footer.ejs'); %>